.page {
  min-height: 0;
  overflow: hidden;
}

.searchCard {
  margin-bottom: 16px;

  :global {
    .ant-card-body {
      padding: 8px 16px;
    }
  }
}

.tableCard {
  :global {
    .ant-card-body {
      padding: 8px 16px;
    }
  }
}

.optionsHeader {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 8px;
}

.modalForm {
  margin-top: 16px;
}
